body {
  margin: 0;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
img {
  height: 60px;
  width: 60px;
}
p {
  font-size: 16px;
}
ul {
  margin: 0;
  padding: 0;
}

#mapid {
  height: calc(100vh - 70px);
  width: 70%;
}

.content {
  width: 30%;
  margin: 5px auto;
}
.current-weather {
  border-radius: 5px;
  margin: 30px auto;
  border: 1px solid #dadde1;
  padding: 5px 5px;
}
.foot {
  padding: 10px auto;
  margin-top: 30px;
}

.units {
  padding: 5px;
  text-align: center;
}

.units:hover {
  opacity: 50%;
}
