body {
  margin: 0;
  background-color: black;
  color: #d4cec5;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
  color: #e56029;
}

li {
  list-style: none;

  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
img {
  height: 60px;
  width: 60px;
}
p {
  font-size: 16px;
}
ul {
  margin: 0;
  padding: 0;
}

#mapid {
  height: calc(100vh - 70px);
  width: 70%;
}

.content {
  width: 30%;
  margin: 5px auto;
}
.current-weather {
  margin: 30px auto;
  padding: 5px 5px;
}
.foot {
  padding: 10px auto;
  margin-top: 30px;
}

.search_input {
  border: 0;
  color: #ffffff;
  outline: 0;
  background: none;
  line-height: 40px;
  border-bottom: 2px solid #e56029;
  width: 70%;
}
