body {
  margin: 0;
  background-color: black;
  color: #d4cec5;
  font-size: 18px;
  text-transform: capitalize;
}

h1 {
  font-size: 24px;
  font-weight: bolder;
  line-height: 48px;
  margin-bottom: 0;
  text-align: left;
  color: #e56029;
}

li {
  list-style: none;

  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

p {
  font-size: 16px;
}
ul {
  margin: 0;
  padding: 0;
}

#mapid {
  height: calc(100vh - 10px);
  width: 70%;
}

#city-input {
  border: none;
  background: none;
  color: #ffffff;

  outline: 0;
}

#search-form {
  border: 0;
  color: #ffffff;
  outline: 0;
  background: none;
  line-height: 40px;
  border-bottom: 2px solid #e56029;
  width: 70%;
}

.content {
  width: 30%;
  margin: 5px auto;
}
.current-weather {
  margin: 30px auto;
  padding: 15px 15px;
}

.foot {
  padding: 10px auto;
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}

.search-icon {
  text-align: left;
}

.weather-temp strong {
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temp img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.map-popup {
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: center;
}

#weather-forecast img {
  height: 32px;
  width: 32px;
}

#weather-forecast {
  border-radius: 5px;
  border: 1px solid #d4cec5;
  color: #dadde1;
  padding: 20px;
  font-size: 14px;
}
#weather-forecast .min-temp {
  font-size: 14px;
  color: #d4cec5;
}
